@page "/collectorassignmentshuynqs/create"
@using Microsoft.EntityFrameworkCore
@using WasteCollection.Entities.HuyNQ.Models
@inject IDbContextFactory<WasteCollection.Entities.HuyNQ.Models.WasteCollectionDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>CollectorAssignmentsHuyNq</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="CollectorAssignmentsHuyNq" OnValidSubmit="AddCollectorAssignmentsHuyNq" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="reporthuynqid" class="form-label">ReportHuyNqid:</label> 
                <InputText id="reporthuynqid" @bind-Value="ReportHuyNqidString" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.ReportHuyNqid" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="assigneddate" class="form-label">AssignedDate:</label> 
                <InputDate id="assigneddate" @bind-Value="CollectorAssignmentsHuyNq.AssignedDate" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.AssignedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="CollectorAssignmentsHuyNq.Status" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="arrivaltime" class="form-label">ArrivalTime:</label> 
                <InputDate id="arrivaltime" @bind-Value="CollectorAssignmentsHuyNq.ArrivalTime" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.ArrivalTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="completiontime" class="form-label">CompletionTime:</label> 
                <InputDate id="completiontime" @bind-Value="CollectorAssignmentsHuyNq.CompletionTime" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.CompletionTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="collectedweight" class="form-label">CollectedWeight:</label> 
                <InputNumber id="collectedweight" @bind-Value="CollectorAssignmentsHuyNq.CollectedWeight" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.CollectedWeight" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="proofimageurl" class="form-label">ProofImageUrl:</label> 
                <InputText id="proofimageurl" @bind-Value="CollectorAssignmentsHuyNq.ProofImageUrl" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.ProofImageUrl" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="estimatedarrivaltime" class="form-label">EstimatedArrivalTime:</label> 
                <InputDate id="estimatedarrivaltime" @bind-Value="CollectorAssignmentsHuyNq.EstimatedArrivalTime" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.EstimatedArrivalTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label> 
                <InputText id="notes" @bind-Value="CollectorAssignmentsHuyNq.Notes" class="form-control" /> 
                <ValidationMessage For="() => CollectorAssignmentsHuyNq.Notes" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/collectorassignmentshuynqs">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private CollectorAssignmentsHuyNq CollectorAssignmentsHuyNq { get; set; } = default!;

    private string ReportHuyNqidString {
        get => CollectorAssignmentsHuyNq.ReportHuyNqid.ToString();
        set 
        {
            if (Guid.TryParse(value, out var reportId)) 
                CollectorAssignmentsHuyNq.ReportHuyNqid = reportId;
        }
    }

    protected override void OnInitialized() => CollectorAssignmentsHuyNq ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCollectorAssignmentsHuyNq()
    {
        using var context = DbFactory.CreateDbContext();
        context.CollectorAssignmentsHuyNqs.Add(CollectorAssignmentsHuyNq);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/collectorassignmentshuynqs");
    }
}
