@page "/collectorassignmentshuynqs/edit"
@using AutoMapper
@using WasteCollection.Entities.HuyNQ.Models
@inject NavigationManager NavigationManager
@using WasteCollection.Services.HuyNQ.DTOs
@using WasteCollection.Services.HuyNQ
@inject ICollectorAssignmentsHuyNqService CollectorAssignmentsHuyNqService
@inject IMapper Mapper

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>CollectorAssignmentsHuyNq</h2>
<hr />
@if (CollectorAssignmentsHuyNq is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="CollectorAssignmentsHuyNq" OnValidSubmit="UpdateCollectorAssignmentsHuyNq" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="CollectorAssignmentsHuyNq.AssignmentId" value="@CollectorAssignmentsHuyNq.AssignmentId" />
                <div class="mb-3">
                    <label for="reporthuynqid" class="form-label">ReportHuyNqId (Guid):</label>
                    <input type="text" id="reporthuynqid"
                           name="CollectorAssignmentsHuyNq.ReportHuyNqId"
                           @bind="CollectorAssignmentsHuyNq.ReportHuyNqId"
                           class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.ReportHuyNqId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="assigneddate" class="form-label">AssignedDate:</label>
                    <InputDate id="assigneddate" @bind-Value="CollectorAssignmentsHuyNq.AssignedDate" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.AssignedDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="CollectorAssignmentsHuyNq.Status" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="arrivaltime" class="form-label">ArrivalTime:</label>
                    <InputDate id="arrivaltime" @bind-Value="CollectorAssignmentsHuyNq.ArrivalTime" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.ArrivalTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="completiontime" class="form-label">CompletionTime:</label>
                    <InputDate id="completiontime" @bind-Value="CollectorAssignmentsHuyNq.CompletionTime" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.CompletionTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="collectedweight" class="form-label">CollectedWeight:</label>
                    <InputNumber id="collectedweight" @bind-Value="CollectorAssignmentsHuyNq.CollectedWeight" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.CollectedWeight" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="proofimageurl" class="form-label">ProofImageUrl:</label>
                    <InputText id="proofimageurl" @bind-Value="CollectorAssignmentsHuyNq.ProofImageUrl" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.ProofImageUrl" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="estimatedarrivaltime" class="form-label">EstimatedArrivalTime:</label>
                    <InputDate id="estimatedarrivaltime" @bind-Value="CollectorAssignmentsHuyNq.EstimatedArrivalTime" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.EstimatedArrivalTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes:</label>
                    <InputText id="notes" @bind-Value="CollectorAssignmentsHuyNq.Notes" class="form-control" />
                    <ValidationMessage For="() => CollectorAssignmentsHuyNq.Notes" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/collectorassignmentshuynqs">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid AssignmentId { get; set; }

    [SupplyParameterFromForm]
    private CollectorAssignmentsHuyNqUpdatedDto? CollectorAssignmentsHuyNq { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var collectorAssignmentsHuyNq = await CollectorAssignmentsHuyNqService.GetByIdAsync(AssignmentId);
        CollectorAssignmentsHuyNq ??= Mapper.Map<CollectorAssignmentsHuyNqGetDto, CollectorAssignmentsHuyNqUpdatedDto>(collectorAssignmentsHuyNq);

        if (CollectorAssignmentsHuyNq is null)
            NavigationManager.NotFound();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCollectorAssignmentsHuyNq()
    {
        await CollectorAssignmentsHuyNqService.UpdateAsync(CollectorAssignmentsHuyNq!);
        NavigationManager.NavigateTo("/collectorassignmentshuynqs");
    }
}
